<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/script/main.js"></script>
<script sec:authorize="isAuthenticated()" src="/script/websocket.js"></script>
<script>
	$(document).ready(()=>{
		$("#check").on("click", ()=>{
			$.ajax({
				url: "/members/member/password/check",
				data: "password=" + $("#password").val()
			}).done(()=>location.href = "/member/read");
		});
	})
</script>
</head>
<body>
<div id="page">
	<header id="header" th:replace="/fragments/header">
	</header>
	<nav id="nav" th:replace="/fragments/nav">
	</nav>
	<div id="main">
		<aside id="aside" th:replace="/fragments/aside">
		</aside>
		<section id="section">
			<div class="alert alert-success">
				<strong>비밀번호 확인</strong> <span id="target">고객님 정보 확인을 위해 비밀번호 재확인이 필요합니다</span>
			</div>
			<div class="mb-3">
				<label for="password">비밀번호</label>
				<input id="password" type="password" name="password" class="form-control">
				<span class="helper-text" id="password_msg"></span>
			</div>
			<button class="btn btn-success" id="check">비밀번호 확인</button>
		</section>
	</div>
	<footer id="footer" th:replace="/fragments/footer">
	</footer>
</div>
</body>
</html>